.el-input{
    display: block !important;
}

.search-input input{
    padding: 20px 35px;
    width: 101%

}
.Recomment{
    font-size: 16px;
    background: #fff;
    cursor: pointer;
}
.Recomment ul{
    display:flex
}
.Recomment ul img{
    max-width:50px
}
.Recomment ul li{
    padding:13px
}
.Recomment ul li:hover{
    color:#42a5f5;
    background:#eee;
}